@import url(controls.css);

body, ul, td, th {
	font-family: verdana,arial,helvetica,sans-serif;
	font-size: 95%;
}

div#content {
        margin: 4px;
}

p {
	font-family: verdana,arial,helvetica,sans-serif;
}

em {
	font-weight: bold;
	font-style: italic;
}

.headertop {
        background: #5b69a6;
}
.headersep {
        background: #000033;
}
.headerbottom {
        background: #9999cc;
}

.error {
        color: #cc0000;
}

code, pre {
	font-family: "andale mono", "monotype.com", "courier new", monospace;
	font-size: 90%;
}

pre.note {
        margin-left: 20px;
}

h1 {
	font-family: verdana,arial,helvetica,sans-serif;
	font-size: 140%;
	font-weight: bold;
	color: #000066;
}

h2 {
	font-family: verdana, arial,helvetica,sans-serif;
	font-size: 125%;
	font-weight: bold;
	color: #000066;
}

h3 {
	font-family: verdana, arial,helvetica,sans-serif;
	font-size: 110%;
	font-weight: bold;
	color: #000066;
}

h4 {
	font-family: verdana, arial,helvetica,sans-serif;
	font-size: 100%;
	font-weight: bold;
	color: #000066;
}

small {
	font-family: verdana, arial,helvetica,sans-serif;
	font-size: 75%;
}

a.small {
	font-family: verdana, arial,helvetica,sans-serif;
	font-size: 75%;
	text-decoration: none;
}

A.menuWhite {
        font-family: verdana, arial,helvetica,sans-serif;
        font-size: 75%;
        color: #ffffff;
}
A.menuBlack {
        font-family: verdana, arial,helvetica,sans-serif;
        font-size: 75%;
        color: #000000;
}


input {
	font-family: verdana, arial,helvetica,sans-serif;
}

textarea {
	font-family: "andale mono", "monotype.com", "courier new", monospace;
}

input.small, select.small {
	font-family: verdana, arial,helvetica,sans-serif;
	font-size: 75%;
}

textarea.small {
	font-family: "andale mono", "monotype.com", "courier new", monospace;
	font-size: 75%;
}

div.errors {
        border: 1px dashed #660000;
        background: #fee;
        color: #660000;
        margin: 4px;
        padding: 6px;
}
div.warnings {
        border: 1px dashed #ff8c00;
        background: #ffa;
        color: #ff8c00;
        margin: 4px;
        padding: 6px;
}
div.explain {
        border: 1px dashed #000066;
        color: #000066;
        margin: 4px;
        padding: 6px;
}
div.thanks {
        border: 1px dashed #006600;
        color: #006600;
        margin: 4px;
        padding: 6px;
}

table.lusersearch td {
	font-size: 75%;
}

table.lusersearch tr {
	vertical-align: top;
}

/* these are redundant with things in controls.css, to try and make the
 * bug forms look a smidge better on netscape 4 (ugh). */
span.control {
        font-weight: bold;
}

td#summary {
        font-weight: bold;
}
th {
        text-align: right;
}

div#bugheader {
        border-bottom: 2px solid #666666;
        width: 100%;
}

div#bugheader table#details th {
        text-align: right;
        color: #666666;
}
div#bugheader table#details th#number {
        color: #000066;
        font-size: larger;
}
div#bugheader table#details td#summary {
        font-weight: bold;
}

form#vote {
        font-size: smaller;
}
form#vote div.sect {
        float: left;
}
form#vote fieldset {
        border: 1px solid #000000;
}
form#vote div#submit {
        margin-top: 24px;
        margin-left: 10px;
        text-align: center;
}

form#asearch th {
        text-align: left;
        font-weight: bold;
}

form#asearch table#primary {
        background: #eee;
}
