/* $Id$ */

@import url(tabs.css);

/* ========= Main Content Holders ========= */

body {
    margin: 0px;
    padding: 0px;
    background-color: white;
    color: black;
    font-family: verdana, arial, helvetica, sans-serif;
    font-size: 90%;
}

table.head,
table.middle,
table.foot {
    font-size: 100%;  /* make IE look normal */
    width: 100%;
    border: 0px;
}

td.content {
    width: 100%;
    vertical-align: top;
    padding: 1em 0.5em 0.3em 0.5em;
}


/* ========= Header ========= */

td.head-logo {
    background-color: #339900;
    width: 120px;
    text-align: left;
}

td.head-menu {
    background-color: #339900;
    height: 1px;
    padding-right: 0.5em;
    padding-bottom: 0.1em;
    text-align: right;
    vertical-align: bottom;
}

td.head-search {
    color: #FFFFFF;
    background-color: #006600;
    border-top: 1px solid #003300;
    border-bottom: 1px solid #003300;
    padding-right: 0.5em;
    text-align: right;
}

p.head-search {
    font-size: 80%;
    margin-top: 0.1em;
    margin-bottom: 0.1em;
}

p.head-search input,
p.head-search select {
    font-size: 100%;
}

td.head-menu {
    color: #000000;
    font-weight: bold;
    font-size: 75%;
}

.menuWhite {
    color: #FFFFFF;
    font-weight: normal;
}

a:link.menuWhite,
a:hover.menuWhite,
a:visited.menuWhite {
    text-decoration: none;
    color: #FFFFFF;
}

a:link.menuBlack,
a:hover.menuBlack,
a:visited.menuBlack {
    text-decoration: none;
    color: #000000;
}


/* ========= Sidebars ========= */

td.sidebar_left {
    width: 149px;
    background-color: #F0F0F0;
    vertical-align: top;
    font-size: 90%;
    border-right: 1px dashed #ccc;
    padding: 1em 0.3em 0.3em 0.3em;
}

td.sidebar_right {
    width: 149px;
    background-color: #F0F0F0;
    vertical-align: top;
    font-size: 90%;
    border-left: 1px dashed #ccc;
    padding: 1em 0.3em 0.3em 0.3em;
}

table.sidebar-releases {
    font-size: 100%;  /* make IE look normal */
}

ul.side_pages {
    margin-top: 0.1em;
    margin-bottom: 1.5em;
    margin-left: 1em;
    padding-left: 1em;
    list-style: url(../images/box-0.gif) square;
}

li.side_page {
    text-indent: -0.4em;
    white-space: nowrap;
}


/* ========= Footer ========= */

td.foot-bar {
    color: #000000;
    background-color: #339900;
    border-top: 1px solid #003300;
    border-bottom: 1px solid #003300;
    text-align: right;
    vertical-align: bottom;
    padding-right: 0.3em;
    font-weight: bold;
    font-size: 75%;
}

td.foot-copy {
    background-color: #CCCCCC;
    vertical-align: top;
    padding: 0.3em;
}

td.foot-source {
    background-color: #CCCCCC;
    vertical-align: top;
    text-align: right;
    padding: 0.3em;
}


/* ========= Forms ========= */

table.form-holder {
    background-color: #FFFFFF;
    width: auto;
}

caption.form-caption {
    font-weight: bold;
    color: #FFFFFF;
    background-color: #339900;
    padding: 0.3em;
    border-left: 1px solid #FFFFFF;
    border-right: 1px solid #FFFFFF;
    margin-top: 0.5em;
}

/* Labels on the left side of form and table rows */
th.form-label_left {
    padding: 3px;
    text-align: left;
    vertical-align: top;
    font-weight: bold;
    color: #FFFFFF;
    background-color: #339900;
    width: 25%;
}

/* Labels on the top of form and table columns */
th.form-label_top,
th.form-label_top_center {
    padding: 3px;
    text-align: center;
    font-weight: bold;
    color: #FFFFFF;
    background-color: #339900;
}

td.form-input {
    padding: 3px;
    text-align: left;
    vertical-align: top;
    background-color: #e8e8e8;
}

td.form-input_center {
    padding: 3px;
    text-align: center;
    vertical-align: middle;
    background-color: #e8e8e8;
}

td.form-input input, 
td.form-input_center input {
    font-size: 90%;
}

input.makeDocBug {
    background-color: #8CDD81;
    border: 3px ridge green;
}
p.cell_note {
    margin-top: 0.3em;
    margin-bottom: 0.2em;
    font-weight: normal;
    font-size: 95%;
}

input {
    font-family: verdana,arial,helvetica,sans-serif;
}

textarea {
    font-family: "andale mono", "monotype.com", "courier new", monospace;
}

input.small, select.small {
    font-size: 75%;
}

textarea.small {
    font-size: 75%;
}

form {
    margin-bottom: 0;
}

submit {
    border: 0px;
}

/* === Voting === */

td.vote-active, td.vote-winner {
    padding: 3px;
    text-align: left;
    vertical-align: top;
    background-color: #ffbbaa;
}

td.vote-complete {
    padding: 3px;
    text-align: left;
    vertical-align: top;
    background-color: #bbaaff;
}

td.vote-inactive {
    padding: 3px;
    text-align: left;
    vertical-align: top;
    background-color: #e8e8e8;
}


/* === User Submission Responses === */

div.errors,
div.warnings,
div.explain,
div.success
div.tags {
    margin: 4px;
    padding: 6px;
    clear: both;
    font-size: 1.1em;
    font-weight: bold;
}

div.errors {
    border: 1px dashed #660000;
    background: #fee;
    color: #660000;
}

div.warnings {
    border: 1px dashed #ff8c00;
    background: #ffa;
    color: #ff8c00;
}

div.tags {
    border: 1px dashed #ff8c00;
    background: #ffa;
    color: #ff8c00;
    width: 500px;
    margin-left : 100px;
}

div.explain {
    border: 1px dashed #000066;
    color: #000066;
}

div.success {
    border: 1px dashed #006600;
    background-color: #CCFF99;
    color: #006600;
}

div.errors ul,
div.warnings ul,
div.explain ul,
div.success ul {
    margin-top: 0em;
    margin-bottom: 0em;
}

/* ========= Statistics ========= */

.bug_bg0 {
    background-color: #DDDDDD;
    font-size: 85%;
    text-align: center;
}
.bug_bg1 {
    background-color: #EEEEEE;
    font-size: 85%;
    text-align: center;
}
.bug_head {
    background-color: #339900;
    color: #FFFFFF;
    font-size: 80%;
    font-weight: bold;
    text-align: right;
    padding: 0em .2em .2em .2em;
}
.bug_header {
    background-color: #339900;
    color: #FFFFFF;
    font-size: 80%;
    font-weight: bold;
    text-align: center;
    padding: 0em .2em .2em .2em;
}

a.bug_stats {
    color: #FFFFFF;
}
a.bug_stats_choosen {
    color: #FFFF00;
}

.bug_bg_selected {
    background-color: yellow;
}
.bug_bg_selected a {
    color: #006600;
}

/* ========= Other ========= */

a:link {
    color: #006600;
}

a:visited {
    color: #030;
}

a:hover {
    color: #003300;
}

th.headrow {
    text-align: left;
    border-bottom: 1px solid #000;
    white-space: nowrap;
}

th.others {
    color: #006600;
    text-align: left;
}

td.textcell {
    vertical-align: top;
    padding-left: 1.2em;
    padding-bottom: 1em;
}

td.textcell p {
    margin-top: 0em;
}

td.ulcell {
    vertical-align: top;
}

em {
    font-weight: bold;
    font-style: italic;
}

hr {
    border: 0px;
    height: 1px;
    background-color: #ccc;
}

.newsDate {
    font-size: 85%;
    font-style: italic;
    color: #66cc66;
}

.compact {
}

code, pre, tt {
    font-family: monospace;
    font-size: medium;
}

h1 {
    font-size: 140%;
    font-weight: bold;
    color: #006600;
    margin-top: 0em;
}

h2 {
    font-size: 125%;
    font-weight: bold;
    color: #006600;
    border-bottom: 1px solid #000;
}

h3 {
    font-size: 110%;
    font-weight: bold;
    color: #006600;
}

h4 {
    font-size: 100%;
    font-weight: bold;
    color: #006600;
}

small {
    font-size: 85%;
}

a.small {
    font-size: 75%;
    text-decoration: none;
}

.tableTitle {
    font-weight: bold;
}

.tableExtras {
    font-size: 85%;
    color: #FFFFFF;
}

.tip {
    border: 1px solid #00c;
    color: #006;
    background: #eef;
    padding: 8px;
}

ul.spaced li {
    margin-bottom: 0.75em;
}

.indent {
    margin-left: 20px;
}

hr.greyline {
    border-top: thin solid #CCCCCC;
    margin-top: 0px;
    margin-bottom: 0px;
}

.underline {
    text-decoration: underline;
}

.accesskey {
    text-decoration: underline;
}

ul {
    margin-top: 0em;
}
